#wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/_7947e10c-6b5e-4dfd-a0b0-fba10f367f1a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  width: 150px;
  height: 150px;
  background-image: url(/_94e2ccac-00ef-4b79-bbf8-62212b889159.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
  border-radius: 50%;
  margin: 0 auto;
}

#title {
  margin: 0 auto;
}
#money {
  height: 750px;
  margin: 0 auto;

  display: flex;
}

#moneyIn {
  width: 50%;
}
#moneyOut {
  width: 50%;
}

.fa-regular {
  font-size: 24px;
  border: none;
  margin-right: 0;
}

#myChart {
  max-width: 200px;
  max-height: 200px;
}

input[type="text"] {
  width: 25%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #868383;
  border-radius: 4px;
}

input[type="text"]:focus {
  background-color: #ebdcdc;
  outline: none;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.incomeList,
.outcomeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.listItems {
  max-width: 90%;
  padding: 8px 16px;
  background: #f9f9f9;
  border-bottom: 1px solid #df1313;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.listItems:hover {
  background-color: #ececec;
}
.listItems:first-child {
  background-color: #e9e9e9;
  font-weight: bold;
}

.listItems:last-child {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}

.outValue,
.outType,
.incValue,
.incType {
  font-size: 24px;
  max-width: 20%;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.inputBlock {
  display: flex;

  align-items: baseline;
}
.addButton {
  height: 44px;
}

#currencyCodesDropdown {
  width: 25%;
  margin: 5px auto;
}

.currencySelection {
  margin: 25px auto 10px auto;
}
