#wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/_06b9444d-0dbb-4680-ba53-90afee0ea43d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  width: 150px;
  height: 150px;
  background-image: url(/_94e2ccac-00ef-4b79-bbf8-62212b889159.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
  border-radius: 50%;
  margin: 0 auto;
}

#title {
  margin: 0 auto;
}
#money {
  width: 1200px;
  height: 750px;
  margin: 0 auto;

  display: flex;
}

#moneyIn {
  width: 50%;
}
#moneyOut {
  width: 50%;
}

.fa-pen-to-square {
  font-size: 32px;
  border: none;
}
