#wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#logo {
  width: 150px;
  height: 150px;
  background-image: url(/_94e2ccac-00ef-4b79-bbf8-62212b889159.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
  border-radius: 50%;
  margin: 0 auto;
}

#title {
  margin: 0 auto;
}
#money {
  background-image: url(/_06b9444d-0dbb-4680-ba53-90afee0ea43d.jpg);
  width: 1200px;
  height: 750px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

#moneyIn {
  position: relative;
  width: 50%;
  z-index: 1;
}
#moneyOut {
  width: 50%;
}
